.item{
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
}

.date{
    width:12%;
}

.place{
    width:25%;
    color:rgb(218, 85, 85)
}

.theater{
    width: 53%;
    color:rgb(236, 111, 111)
}

.item-button{
    width: 20%;
    background-color: aqua;
    color: bisque;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}